Pandas

структуры данных - таблицы

интегрирование с файлами csv, excel и др.

In [ ]:
import pandas as pd
import numpy as np

series - одномерный масив данных

DataFrame - двумерная структура данных (может содержать разные тип данных)

.head() показывает первые 5 строк

.tail() последние 5 строк - можно поменять кол-во

.sample() - рандомные строки
 
.copy() делает бекап данных

.info() общая инфа о содержании в таблице



NaN - вместо пустой ячейки

In [ ]:
df = pd.read_csv('winequalityN.csv')
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6497 entries, 0 to 6496
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   type                  6497 non-null   object
 1   fixed acidity         6487 non-null   float64
 2   volatile acidity      6489 non-null   float64
 3   citric acid           6494 non-null   float64
 4   residual sugar        6495 non-null   float64
 5   chlorides             6495 non-null   float64
 6   free sulfur dioxide   6497 non-null   float64
 7   total sulfur dioxide  6497 non-null   float64
 8   density               6497 non-null   float64
 9   pH                    6488 non-null   float64
 10  sulphates             6493 non-null   float64
 11  alcohol               6497 non-null   float64
 12  quality               6497 non-null   int64
dtypes: float64(11), int64(1), object(1)
memory usage: 660.0+ KB

атрибуты

dtypes = список типов данных колонок

columns = список колонок

size = кол-во элементов

shape = кортеж содержащий размеры по измерениям

In [ ]:
col = list(df.columns)
col[6] = "free SO2"
df.columns=col
df.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free SO2,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,10.0,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

In [ ]:
print(df.shape)

(6497, 13)

In [ ]:
df.sample(10)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free SO2,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4850,white,7.0,0.36,0.35,2.5,0.048,67.0,161.0,0.99146,3.05,0.56,11.1,6
4526,white,5.8,0.27,0.22,12.7,0.058,42.0,206.0,0.99460,3.32,0.38,12.3,6
4174,white,6.3,0.24,0.22,11.9,0.050,65.0,179.0,0.99659,3.06,0.58,9.3,6
5971,red,8.0,0.62,0.33,2.7,0.088,16.0,37.0,0.99720,3.31,0.58,10.7,6
6423,red,6.7,0.48,0.08,2.1,0.064,18.0,34.0,0.99552,3.33,0.64,9.7,5
6334,red,10.0,0.38,0.38,1.6,0.169,27.0,90.0,0.99914,3.15,0.65,8.5,5
2340,white,7.7,0.29,0.29,4.8,0.060,27.0,156.0,0.99572,3.49,0.59,10.3,6
6252,red,7.2,0.58,0.03,2.3,0.077,7.0,28.0,0.99568,3.35,0.52,10.0,5
5523,red,6.8,0.69,0.00,5.6,0.124,21.0,58.0,0.99970,3.46,0.72,10.2,5
5029,red,5.6,0.50,0.09,2.3,0.049,17.0,99.0,0.99370,3.63,0.63,13.0,5

.describe() описательные статистики для числвых данных

In [ ]:
df.max()

type                      white
fixed acidity              15.9
volatile acidity           1.58
citric acid                1.66
residual sugar             65.8
chlorides                 0.611
free SO2                  289.0
total sulfur dioxide      440.0
density                 1.03898
pH                         4.01
sulphates                   2.0
alcohol                    14.9
quality                       9
dtype: object

In [ ]:
df.max()

type                      white
fixed acidity              15.9
volatile acidity           1.58
citric acid                1.66
residual sugar             65.8
chlorides                 0.611
free SO2                  289.0
total sulfur dioxide      440.0
density                 1.03898
pH                         4.01
sulphates                   2.0
alcohol                    14.9
quality                       9
dtype: object

In [ ]:
df.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free SO2,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6487.000000,6489.000000,6494.000000,6495.000000,6495.000000,6497.000000,6497.000000,6497.000000,6488.000000,6493.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.296750,0.164649,0.145265,4.758125,0.035036,17.749400,56.521855,0.002999,0.160748,0.148814,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

df["имя столбца"] или df.Имя_столбца = обращение к столбцу по имени

.loc[2:15,:] - часть выводит (вводим по меткам)

.iloc[0:,0:] - часть выводит (по индексам)

In [ ]:
#df.pH или df["pH"]
df[["pH",'density',"quality"]]

        pH  density  quality
0     3.00  1.00100        6
1     3.30  0.99400        6
2     3.26  0.99510        6
3     3.19  0.99560        6
4     3.19  0.99560        6
...    ...      ...      ...
6492  3.45  0.99490        5
6493  3.52  0.99512        6
6494  3.42  0.99574        6
6495  3.57  0.99547        5
6496  3.39  0.99549        6

[6497 rows x 3 columns]

In [ ]:
df.loc[5:10, ["pH",'density',"quality"]]

      pH  density  quality
5   3.26   0.9951        6
6   3.18   0.9949        6
7   3.00   1.0010        6
8   3.30   0.9940        6
9   3.22   0.9938        6
10  2.99   0.9908        5

In [ ]:
df.loc[0,"residual sugar"] = 10.0
df[df['residual sugar']>=25]

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free SO2,total sulfur dioxide,density,pH,sulphates,alcohol,quality
1653,white,7.9,0.330,0.28,31.60,0.053,35.0,176.0,1.01030,3.15,0.38,8.8,6
1663,white,7.9,0.330,0.28,31.60,0.053,35.0,176.0,1.01030,3.15,0.38,8.8,6
2781,white,7.8,0.965,0.60,65.80,0.074,8.0,160.0,1.03898,3.39,0.69,11.7,6
3619,white,6.8,0.450,0.28,26.05,0.031,27.0,122.0,1.00295,3.06,0.42,10.6,6
3623,white,6.8,0.450,0.28,26.05,0.031,27.0,122.0,1.00295,3.06,0.42,10.6,6

In [ ]:
df.pH.nunique()

108

Групировка данных

выполняет что-то для отдельных групп

In [ ]:
df.groupby(["type"])[["pH",'density',"quality","residual sugar"]].agg(
    [np.mean, np.std, np.min, np.max]
)

             pH                         density                              \
           mean       std  amin  amax      mean       std     amin     amax
type
red    3.310864  0.154290  2.74  4.01  0.996747  0.001887  0.99007  1.00369
white  3.188203  0.151014  2.72  3.82  0.994027  0.002991  0.98711  1.03898

        quality                     residual sugar
           mean       std amin amax           mean       std amin  amax
type
red    5.636023  0.807569    3    8       2.538806  1.409928  0.9  15.5
white  5.877909  0.885639    3    9       6.391064  5.068413  0.6  65.8

In [ ]:
df[df['residual sugar'].isnull()]

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free SO2,total sulfur dioxide,density,pH,sulphates,alcohol,quality
33,white,6.2,0.120,0.34,NaN,0.045,43.0,117.0,0.9939,3.42,0.51,9.0,6
438,white,7.4,0.155,0.34,NaN,0.045,73.5,214.0,0.9934,3.18,0.61,9.9,7

In [ ]:
print(df.isnull().sum())
print(df.isnull().sum().sum())

type                     0
fixed acidity           10
volatile acidity         8
citric acid              3
residual sugar           2
chlorides                2
free SO2                 0
total sulfur dioxide     0
density                  0
pH                       9
sulphates                4
alcohol                  0
quality                  0
dtype: int64
38

.fillna(data.mean()) - заполняем все пропуски средними значениями

.dropna() - удаляет все строки с нулевыми значениями (axes=1, тогда удалит столбцы)